*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background: #1f2937;

    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor{
    background: white;
    padding: 35px;
    border-radius: 15px;
    width: 350px;

    box-shadow: 0px 5px 20px rgba(0,0,0,0.4);
}

h2{
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

input,
textarea{
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;

    border: 1px solid #ccc;
    border-radius: 8px;

    font-size: 14px;
}

textarea{
    height: 100px;
    resize: none;
}

button{
    width: 100%;
    padding: 12px;

    background: #2563eb;
    color: white;

    border: none;
    border-radius: 8px;

    font-size: 15px;
    cursor: pointer;
}

button:hover{
    background: #1d4ed8;
}